* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.image-div {
  width: 50%;
  margin: auto;
  background-color: rgb(161, 161, 161);
  text-align: center;
}

.image-div img {
  width: 5em;
  display: inline-block;
}

.image-div h2 {
  font-size: max(1.3em, 1.3vw);
}
